
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background: -webkit-linear-gradient(90deg, #85a9b9,#8497b5,#c8c9d2);
  background: linear-gradient(90deg, #85a9b9,#8497b5,#c8c9d2);
}
.form-control{

  border-top-left-radius : 50px;
  border-bottom-left-radius : 50px;
  
}

.list-zoom {
  
  transform: 0.5s ease-in-out;
}
.list-zoom :hover {
  transform: scale(1.05);
}
.btn-action {
  cursor: pointer;
}